.DS_Store
*.pyc
*.swp
*.log
backup/*
*.aux
*.bbl
*.dvi
*.glo
*.idx
*.lof
*.lot
*.ps
*.synctex.gz
*.thm
*.toc

# sqlite databases
*.db

# pycharm files
.idea/*

bin/*
# VirtualEnv files
include/*
lib/*
local/*

# IPython files
share/*
