{% extends "chapter_detail.html" %}

{% block title %} 
	{{ module.code }} Theorems
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'chapter-list' module.pk %}">{{ blocktype | title }}s</a>
{% endblock %}

{% block content-main %}
<div class="macros">
    {% autoescape off %}
		\( {{ module.newcommands | safe }} \)
	{% endautoescape %}
</div>
<h1>{{ module.code }} Chapter {{ chapter.number }}. {{ blocktype | title }}s</h1>
<br>
{% if blocks %}
	<ul>
	{% load mptt_tags %}
	{% for block in blocks %}
		{% with block.get_descendants_inc_self as subtree %}
				{% include "block.html" %}
		{% endwith %}
	{% endfor %}
	</ul>
{% else %}
	<p>No blocks!</p>
{% endif %}
<br/>
<a href="{% url 'chapter-list' module.pk %}">&larr; {{ module.code }}</a>
{% endblock %}

{% block browse-horizontal %}
<span class="left">
	{% if prev %}
		{% if blocktype == "theorem" %}
			<a href="{% url 'chapter-theorems' prev.pk %}">&lt; Chapter {{ prev.number }}. {{ blocktype | title }}s</a>
		{% elif blocktype == "example" %}
			<a href="{% url 'chapter-examples' prev.pk %}">&lt; Chapter {{ prev.number }}. {{ blocktype | title }}s</a>
		{% endif %}
	{% endif %}
</span>
<span class="right">
	{% if next %}
		{% if blocktype == "theorem" %}
			<a href="{% url 'chapter-theorems' next.pk %}">Chapter {{ next.number }}. {{ blocktype | title }}s &gt;</a>
		{% elif blocktype == "example" %}
			<a href="{% url 'chapter-examples' next.pk %}">Chapter {{ next.number }}. {{ blocktype | title }}s &gt;</a>
		{% endif %}
	{% endif %}
</span>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>{{ blocktype | title }}s</h3>
		{% for chap in toc %}
			{% if chap.pk != chapter.pk %}
				{% if blocktype == "theorem" %}
					<p><a href="{% url 'chapter-theorems' chap.pk %}">{{ chap.number }}. {{ chap.title }}</a></p>
				{% elif blocktype == "example" %}
					<p><a href="{% url 'chapter-examples' chap.pk %}">{{ chap.number }}. {{ chap.title }}</a></p>
				{% endif %}
			{% else %}
				<p>{{ chap.number }}. {{ chap.title }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}


{% endblock %}