{% extends "chapter_list.html" %}
{% load staticfiles %}

{% block scripts %}
	{{ block.super }} 
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	&gt;<a href="{% url 'chapter-detail' chapter.pk %}"> {{ chapter.title }}</a>
{% endblock %}

{% block content-main %}
{% spaceless %}
<div class="macros">
    {% autoescape off %}
		\( {{ module.newcommands | safe }} \)
	{% endautoescape %}
</div>

{% if chapter %}
	<div>
	<span style="float:left">
	<a href="{% url 'module-detail' module.pk %}"> {{ module.code }}</a>
	</span>
	<span style="float:right">
	<a href="{% url 'chapter-theorems' chapter.pk %}">Theorems</a>
	|
	<a href="{% url 'chapter-examples' chapter.pk %}">Examples</a>
	|
	<a href="{% url 'chapter-exercises' chapter.pk %}">Exercises</a>
	|
	<a href="{% url 'exercise' chapter.pk %}">Assessment</a>
	</span>
	</div>
	<!--div>
	<span style="float:left">
	<a href="{% url 'module-detail' module.pk %}"><button>Back to Module</button></a>
	</span>
	<span style="float:right">
	<a href="{% url 'chapter-theorems' chapter.pk %}"><button>Theorems</button></a>
	&nbsp;
	<a href="{% url 'chapter-examples' chapter.pk %}"><button>Examples</button></a>
	&nbsp;
	<a href="{% url 'chapter-exercises' chapter.pk %}"><button>Exercises</button></a>
	&nbsp;
	<a href="{% url 'exercise' chapter.pk %}"><button>Assessment</button></a>
	</span>
	</div-->
	<br>

	<h2>{{ module.code }} Chapter {{ chapter.number }}</h2>
	{% load mptt_tags %}
	{% include "block.html" %}

{% else %}
    <p>No chapter.</p>
{% endif %}

{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<!--span class="left">{% if prev %}<a href="{{ prev.get_absolute_url }}">&lt; {{ prev.number }}. {{ prev.title }}</a>{% endif %}</span>
<span class="right">{% if next %}<a href="{{ next.get_absolute_url }}">{{ next.number }}. {{ next.title }} &gt;</a>{% endif %}</span-->
<span class="left">{% if prev %}<a href="{% url 'chapter-detail' prev.pk %}">&lt; {{ prev.number }}. {{ prev.title }}</a>{% endif %}</span>
<span class="right">{% if next %}<a href="{% url 'chapter-detail' next.pk %}">{{ next.number }}. {{ next.title }} &gt;</a>{% endif %}</span>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Chapters</h3>
		{% for chap in toc %}
			{% if chap.pk != chapter.pk %}
				<p><a href="{% url 'chapter-detail' chap.pk %}"> {{ chap.number }}. {{ chap.title }}</a></p>
			{% else %}
				<p>{{ chap.number }}. {{ chap.title }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}

