{% extends "book_detail.html" %}
{% load staticfiles %}

{% block scripts %}
	{{ block.super }} 
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	&gt;<a href="{% url 'chapter-detail' chapter.pk %}"> {{ chapter.title }}</a>
{% endblock %}

{% block content-main %}
{% spaceless %}
<div class="macros">
    {% autoescape off %}
		\( {{ book.new_commands | safe }} \)
	{% endautoescape %}
</div>

{% include "chapter_navigation_block.html" %}

{% if chapter %}
	{% with chapter.get_descendants_inc_self as subtree %}
		{% include "booknode.html" %}
	{% endwith %}
{% else %}
    <p>No chapters in the database.</p>
{% endif %}

{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<span class="left">{% if prev %}<a href="{% url 'chapter-detail' prev.pk %}">&lt; {{ prev.number }}. {{ prev.title }}</a>{% endif %}</span>
<span class="right">{% if next %}<a href="{% url 'chapter-detail' next.pk %}">{{ next.number }}. {{ next.title }} &gt;</a>{% endif %}</span>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Chapters</h3>
		{% for chap in toc %}
			{% if chap.node_type == "chapter" %}
				{% if chap.pk != chapter.pk %}
					<p><a href="{% url 'chapter-detail' chap.pk %}"> {{ chap.number }}. {{ chap.title }}</a></p>
				{% else %}
					<p>{{ chap.number }}. {{ chap.title }}</p>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}

