{% extends "module_list.html" %}

{% block title %} 
	Chapters 
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} > <a href="{% url 'chapter-list' %}"> Chapters </a>
{% endblock %}

{% block content-main %}
<h2><u>Chapters</u></h2>
{{object.number}}
<br/>
{{object.module.code}}
<br>
{% if object_list %}
	<table class="chapters">
	  {% for object in object_list %}
		<tr class="chapter">
			<td><a href="{{ object.get_absolute_url }}">{{ object.number }} {{ object.title }}</a></td>
		</tr>
	  {% endfor %}
	</table>
{% else %}
    <p>No chapters for this module in the database.</p>
{% endif %}

{% endblock %}



