{% extends "index.html" %}
{% load staticfiles %}

{% block title %}
	Edit
{% endblock %}


{% block content-main %}

<div class="macros">
    {% autoescape off %}
		\( {{ object.question.module.newcommands | safe }} \)
	{% endautoescape %}
</div>

{{ context }}

<h3>{{ object.question.module.code }} Exercise {{ object.question.get_parent_chapter.number }}.{{ object.question.get_parent_exercise.number }}</h3>

<h5>Question {{ object.question.number }}</h5>
<div class="question">
	{% with object.question.get_descendants as subtree %}
		{% include "question_block.html" %}
	{% endwith %}

	<p></p>
	<div class="answerbox">
		<p class="answerbox_title"><b>
			Your answer:
		</b></p>
		<div class="previewbox">
			<p> {{ object.text }} </p>
		</div>
	</div>
	
	<br>
	<form action="" method="POST"> {% csrf_token %}
		<div class="answerbox">
			<p class="answerbox_title"><b>
				{% if object.id %} Edit answer: {% else %} Start answer: {% endif %}
			</b></p>
			<div class="answerform">
					<p>{{ form.text }}</p>
					<input name="save-answer" type="submit" value="Save"/>
			</div>
		</div> <!-- end answerbox -->

	</form>
</div> <!-- end question -->

{% if object.question.get_parent_exercise %}
	<a href="{% url "exercise" pk=object.question.get_parent_exercise.id %}">&larr; Back to Exercise</a>
{% endif %}
{% endblock %}



