{% extends "exercise_list.html" %}

{% block title %} 
	{{ module.title }}
{% endblock %}


{% block breadcrumbs %}
	{{ block.super }}&gt;<a href="{% url 'exercise-detail' exercise.pk %}"> Exercise {{ chapter.number }}.{{ exercise.number }}</a>
{% endblock %}


{% block content-main %}
{% spaceless %}

	<div class="macros">
	    {% autoescape off %}
			\( {{ module.newcommands | safe }} \)
		{% endautoescape %}
	</div>

	<br>
<h1>{{ module.code }} {{ module.title }}</h1>

{% if subtree %}

	{% load mptt_tags %}
    {% recursetree subtree %}

			{% if node.node_type == "texnode" %}
					{{ node.htex | safe }}
			
			{% elif node.node_class == "exercise" %}
				<div class="exercise">
					<b>{{ node.node_type | title }} {{ chapter.number }}.{{ node.number }}</b>
					{% if node.title %} ({{ node.title }}) {% endif %}<br/> 
					{{ children }}
				</div>
			
			{% elif node.node_type == "question" %}
				<li class="question">
					{{ children }}
					<div style="text-align:right;text-color:magenta;text-decoration:underline;">
						<a href="{% url 'question' node.pk %}">Answer me</a>
					</div>
				</li>

			{% elif node.node_class == "list" %}
				{% if node.node_type == "questions" %}
					<ol class="questions"> {{ children }} </ol>
				{% elif node.node_type == "parts" %}
					<ol class="parts"> {{ children }} </ol>
				{% elif node.node_type == "subparts" %}
					<ol class="subparts"> {{ children }} </ol>
				{% elif node.node_type == "choices" %}
					<ul class="choices"> {{ children }} </ul>
				{% elif node.node_type == "enumerate" %}
					<ol class="enumerate"> {{ children }} </ol>
				{% elif node.node_type == "itemize" %}
					<ul class="itemize"> {{ children }}	</ul>
				{% endif %}
			
			{% elif node.node_class == "item" %}
				{% if node.node_type == "part" %}
					<li class="part"> {{ children }} </li>
				{% elif node.node_type == "subpart" %}
					<li class="subpart"> {{ children }} </li>
				{% elif node.node_type == "choice" or node.node_type == "correctchoice"%}
					<li class="choice"> {{ children }} </li>
				{% elif node.node_type == "item" %}
					<li class="item"> {{ children }} </li>
				{% endif %}
			{% endif %}
    {% endrecursetree %}


	<div class="answerform">
	<form action="{% url 'decision' %}" method="POST"> {% csrf_token %}
		{{ exercise_form.question }}
		{{ exercise_form.answer }} 
		<p align="right"><input id="decision" type="submit" value="Submit" /></p>
	 </form>
	</div>

{% else %}
	<p>No exercise</p>
{% endif %}

<br/>
<a href="{% url 'exercise-list' module.pk %}">&larr; {{ module.code }} Exercises</a>
<br/>


{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<p class="left">{% if prev %}<a href={% url 'exercise-detail' prev.pk %}>&lt; Exercise {{ prev.parent.parent.number }}.{{ prev.number }}</a>{% endif %}</p>
<p class="right">{% if next %}<a href={% url 'exercise-detail' next.pk %}>Exercise {{ next.parent.parent.number }}.{{ next.number }} &gt;</a>{% endif %}</p>
{% endblock %}


{% block sidebar %}
	{% if toc %}
	<h4>{{ module.code }} Exercises</h4>
		<ul>
		{% for ex in toc %}
			<li><a href="{% url 'exercise-detail' ex.pk %}"> Exercise {{ ex.parent.parent.number }}.{{ ex.number }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	    <p>No toc</p>
	{% endif %}
{% endblock %}
