{% extends "chapter_list.html" %}

{% block title %} 
	{{ module.code }} Exercises
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'exercise-list' module.pk %}">exercises</a>
{% endblock %}

{% block content-main %}
<br>
<h1>{{ module.code }} Exercises</h1>
<br>
{% if exercises %}
	<ul>
	{% for exercise in exercises %}
		<li><a href="{% url 'exercise' exercise.pk %}">Ch. {{ exercise.get_parent_chapter.number }} {{exercise.get_parent_chapter.title}}: Ex. {{ exercise.get_parent_chapter.number }}.{{ exercise.number }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No exercises!</p>
{% endif %}
<br/>
<br/>
<a href="{% url 'chapter-list' module.pk %}">&larr; {{ module.code }}</a>
{% endblock %}

{% block browse-horizontal %}
<p class="left">
	{% if prev %}
		<a href="{% url 'exercise-list' prev.pk %}">&lt; {{ prev.code }} Exercises</a>
	{% endif %}
</p>
<p class="right">
	{% if next %}
		<a href="{% url 'exercise-list' next.pk %}">{{ next.code }} Exercises &gt;</a>
	{% endif %}
</p>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Exercises</h3>
	<ul class='toc'>
		<ul>
		{% for module in toc %}
			<li><a href="{% url 'exercise-list' module.pk %}"> {{ module.code }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}