{% extends "chapter_list.html" %}
{% load staticfiles %}

{% block title %} 
	{{ object.title }}
{% endblock %}

{% block scripts %}
	{{ block.super }} 
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static 'main.js' %}" type"text/javascript"></script>
	<script src="{% static 'simple-expand.js' %}"></script>  
	<script type="text/javascript">
	    $(function () {
	        $('.expander').simpleexpand();
	    });
	    $('.youranswer').click(function(){
	      $(this).find('.hiders').toggle();
	    });
		
	</script>
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	&gt;<a href="{% url 'exercise' exercise.pk %}"> Exercise {{ chapter.number }}.{{ exercise.number }}</a>
{% endblock %}

{% block content-main %}
{% spaceless %}

	<div class="macros">
	    {% autoescape off %}
			\( {{ module.newcommands | safe }} \)
		{% endautoescape %}
	</div>

	<br>

debug message: {{ debug }}

<h3>{{ module.code }} Exercise {{ chapter.number }}.{{ exercise.number }}</h3>
	
	
<div class="exercise">
<form action="", method="POST"> {% csrf_token %}

{% if questions %}
	{% for q, a in pairs %}
		<b>Question {{ q.number }}</b><br>
		<div class="question">
		{% with q.get_descendants as subtree %}
				{% include "question_block.html" %}
		{% endwith %}
		<div class="answerbox">
			<!--a class="expander" href="#" data-expander-target="div.youranswer{{ q.number }}"-->
				<p class="answerbox_title"><b>Your answer</b></p>
				<!--/a-->
			<div class="youranswer{{ q.number }}">
				<p> {% if a.text %} 
					<div class="previewbox"> 
						{{ a.text }}
					</div>
					{% endif %} 
				</p>
				<p>		
				{% if not a.readonly %}	
					<!--input name="edit-answer-{{ q.number }}" type="submit" value="Edit"/-->
					{% if a %}
						<a href="{% url "edit-answer" pk=a.id %}"><button>Edit</button> </a></td>
					{% else %}
						<a href="{% url "new-answer" %}"><button>Start</button></a></td>
					{% endif %} </p>
				{% else %}
					<p><small>Edit not allowed.</small></p>
				{% endif %}	
				<p>
			</div>
		</div> <!-- end answerbox -->
		</div> <!-- end question -->
		
	{% endfor %}
{% endif %}


{{ formset.management_form }}

{% for form in formset %}
	<b>Question {{ form.instance.question.number }}</b><br>
	{% with form.instance.question.get_descendants as subtree %}
		<div class="question">
			{% include "question_block.html" %}
		</div>
	{% endwith %}
	
	<div class="answerbox">
		<!--a class="expander" href="#" data-expander-target="div.answerform"-->
			<p class="answerbox_title"><b>Your answer:</b></p>
			<!--/a-->			
		<div class="answerform">
			<!--form action="" method="POST"> {% csrf_token %} -->
			{% for hidden in form.hidden_fields %} 
				{{ hidden }} 
			{% endfor %}				
				<!--p>{{ form.question }}</p>
				<p>{{ form.user }}</p-->
				<div class="previewbox">
					<p>{{ form.text.value }}</p>
				</div>
				<div class="editbox">
					<p>{{ form.text }}</p>
				</div>
				<!--p>{{ form.readonly }}</p-->
				<!--p>set flag: {{ form.readonly}}</p-->
				<!--p class="answerbuttons">
					<button onclick="confirm('Are you sure?')">Submit</button>			
					<!--input id="preview-answer" type="submit" value="Preview" /-->
					<!--input id="save-answer" type="submit" value="Save" /-->
					<!--input id="submit-answer" type="submit" value="Submit" /-->
				</p-->
			<!--button onclick="save_answer()">Save</button-->
			<!--button onclick="preview()">Preview</button-->
			<p>{{ form.readonly.value }}</p>
			{% if not form.readonly.value %}			
				<input name="test-answer" type="submit" value="Test"/>
				<input name="edit-answer" type="submit" value="Edit"/>
				<input name="preview-answer" type="submit" value="Preview"/>
				<input name="save-answer" type="submit" value="Save"/>
			{% else %}
				<p>locked</p>
			{% endif %}	

			<!-- /form -->
		</div>
	</div> <!-- end answerbox -->
	<br>
{% endfor %}
<input name="submit-exercise" type="submit" value="Submit Exercise"/>
</form>
</div>

{% endspaceless %}
{% endblock %}

{% block browse-horizontal %}
<p class="left">{% if prev %}<a href={% url 'exercise' prev.pk %}>&lt; Exercise {{ prev.number }}</a>{% endif %}</p>
<p class="right">{% if next %}<a href={% url 'exercise' next.pk %}>Exercise {{ next.number }} &gt;</a>{% endif %}</p>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h4>{{ module.code }} Exercises</h4>
		<ul>
		{% for ex in toc %}
			<li><a href="{% url 'exercise' ex.pk %}"> Exercise {{ ex.get_parent_chapter.number }}.{{ ex.number }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	    <p>No toc</p>
	{% endif %}

{% endblock %}
