<!--
camel: index.html
-->
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	Cardiff Maths e-Learning
{% endblock %}


{% block breadcrumbs %}
	&nbsp;<a href="{% url 'camel.views.index' %}">Home</a>
{% endblock %}


{% block content-main %}
{% if user.is_authenticated %}
	<p>Logged in as <b>{{ user.username }}</b></p>
{% endif %}

<ul>
	<li><a href="/modules/">Modules</a></li>
</ul>
<br/>

{% endblock %}

{% block sidebar %}
    <br/>
    <h3>Useful links</h3>
    <ul>
        <li><a href="http://www.mathcentre.com">Mathcentre</a></li>
		<li><a href="https://www.khanacademy.org">Khan Acacemy</a></li>
    </ul>
{% endblock %}

{% block content-secondary %}
    <h3>Contacts</h3>
    <ul>
        <li>email: evansd8@cf.ac.uk</li>
    </ul>
{% endblock %}






