<!--
camel: modules.html
-->
{% extends "index.html" %}
{% load staticfiles %}

{% block title %} 
	Modules
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'module-list' %}">Modules</a>
{% endblock %}

{% block content-main %}
<h2><u>Modules</u></h2>
<br />
{% if modules %}
    <table>
    {% for module in modules %}
        <tr>
            <td>{{ module.code }}</td>
            <td><a href="{% url 'module-detail' module.code %}">{{ module.title }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No modules in the database.</p>
{% endif %}

{% endblock %}



