{% extends "index.html" %}

{% block title %} 
	Modules
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} > <a href="{% url 'module-list' %}"> Modules </a>
{% endblock %}

{% block content-main %}
<h2><u>Modules</u></h2>
<br>
{% if test_attr %}
	<h2>Test attribute: {{ test_attr }}</h2>
{% endif %}

{% if object_list %}
	<table class="modules">
	  {% for object in object_list %}
		<tr class="module">
			<td><a href="{{ object.get_absolute_url }}">{{ object.code }}</a></td>
			<td> {{ object.get_absolute_url }} </td>
		</tr>
	  {% endfor %}
	</table>
{% else %}
    <p>No modules in the database.</p>
{% endif %}

{% endblock %}



