{% extends "index.html" %}

{% block title %} 
	Quiz
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }} > <a href="{% url 'camel.views.quiz' %}">Quiz</a>
{% endblock %}

{% block content-main %}

<h2><u>Random question</u></h2>

--- {{ chapter.id }} ---<br>
--- {{ answer_form.question }} ---<br>
--- {{ chapter.id }} ---<br>

{% if question %}
	<br>
	Question {{ chapter.number }}.{{ exercise.number }}.{{ question.number }}
	<br>
	{% include "question_block.html" %}
	<br>
	<!--div style="border:1px solid" class="question">{{ question }}</div-->
	<form action="{% url 'decision' %}" method="POST"> {% csrf_token %}
		<p>{{ answer_form.user.username }}</p>
		<p>{{ answer_form.question.id }}</p>
		<p>{{ answer_form.text }}</p>
		<p><input id="decision" type="submit" value="Check Answer" /></p>
	 </form>
	</div>
{% else %}
	<p>No question.</p>
{% endif %}

{% endblock %}


