{% extends "chapter_detail.html" %}
{% load staticfiles %}

{% block title %}
 	{{ module.code }} 
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}  > <a href="{% url 'section-detail' module.code chapter.number section.number %}"> {{ section.title }}</a>
{% endblock %}


{% block content-main %}
	{% if module %}
	   	<h1>{{ module.title }}</h2>
		{% if chapter %}
	   		<h2>{{ chapter.number }} {{ chapter.title }}</h2>
			{% if section %}
	   			<h3>{{ chapter.number}}.{{ section.number }} {{ section.title }}</h3>
				Lots of lovely latex.
			{% else %}
    			<p>No section.</p>
			{% endif %}
		{% else %}
			<p>No chapter.</p>
		{% endif %}
	{% else %}
	    <p>No module.</p>
	{% endif %}
{% endblock %}


