{% extends "chapter_detail.html" %}

{% block title %} 
	{{ module.code }} Theorems
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'theorem-list' module.pk %}">theorems</a>
{% endblock %}

{% block content-main %}
<div class="macros">
    {% autoescape off %}
		\( {{ module.newcommands | safe }} \)
	{% endautoescape %}
</div>
<h1>{{ module.code }} Chapter {{ chapter.number }}. Theorems</h1>
<br>
{% if theorems %}
	<ul>
	{% load mptt_tags %}
	{% for theorem in theorems %}
		{% with theorem.get_descendants_inc_self as subtree %}
				{% include "block.html" %}
		{% endwith %}
	{% endfor %}
	</ul>
{% else %}
	<p>No theorems!</p>
{% endif %}
<br/>
<br/>
<a href="{% url 'chapter-list' module.pk %}">&larr; {{ module.code }}</a>
{% endblock %}

{% block browse-horizontal %}
<p class="left">
	{% if prev %}
		<a href="{% url 'theorem-list' prev.pk %}">&lt; Chapter {{ prev.number }}. Theorems</a>
	{% endif %}
</p>
<p class="right">
	{% if next %}
		<a href="{% url 'theorem-list' next.pk %}">Chapter {{ next.number }}. Theorems &gt;</a>
	{% endif %}
</p>
{% endblock %}

{% block sidebar %}
	{% if toc %}
	<h3>Theorems</h3>
		{% for chap in toc %}
			{% if chap.pk != chapter.pk %}
				<p><a href="{% url 'theorem-list' chap.pk %}"> {{ chap.number }}. {{ chap.title }}</a></p>
			{% else %}
				<p>{{ chap.number }}. {{ chap.title }}</p>
			{% endif %}
		{% endfor %}
	{% else %}
	    <p>No toc</p>
	{% endif %}


{% endblock %}