<!--
camel: module_detail.html
-->
{% extends "modules.html" %}
{% load staticfiles %}

{% block title %}
 	{{ module.code }} 
{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}&gt;&nbsp;<a href="{% url 'module-detail' module.code %}">{{ module.code }}</a>
{% endblock %}

{% block content-main %}
	{% if module %}
	   	<h1>{{ module.code }} {{ module.title }}</h2>
		{% if chapters %}
			<table class="toc">
			{% for chapter in chapters %}
        	<tr>
            	<td>{{ chapter.number }}.</td>
				<td><a href="{% url 'chapter-detail' module.code chapter.number %}">{{ chapter.title }}</td>
        	</tr>
    		{% endfor %}
    		</table>
		{% else %}
    		<p>No chapters for {{ module.code }} in the database.</p>
		{% endif %}
	{% else %}
	    <p>No module.</p>
	{% endif %}
	
	{% if genres %}
	{% load mptt_tags %}

	{{ genres.get_root }}

	<ul>
	    {% recursetree genres %}
	        <li>
	            {{ node.name }}
	            {% if not node.is_leaf_node %}
	                <ul class="children">
	                    {{ children }}
	                </ul>
	            {% endif %}
	        </li>
	    {% endrecursetree %}
	</ul>

	<ul>
	    {% for genre in genres %}
	        <li>
	            {{ genre.name }}
	            {% if not genre.is_leaf_node %}
	                <ul class="children">
	                    {{ children }}
	                </ul>
	            {% endif %}
	        </li>
	    {% endfor %}
	</ul>
	{% endif %}
{% endblock %}


